<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    {% load bootstrap_icons %}
    <link rel="stylesheet" type="text/css" href="{% static 'AppInventario/styles.css' %}">
    
</head>

<body>
    <header class="d-flex flex-wrap justify-content-center bg-dark py-3">
        <button class="navbar-toggler ml-3 collapsed bg-transparent" type="button" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon">{% bs_icon 'list' size='1.5em' %}
            </span>
        </button>
        
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" >
                {% bs_icon 'pc-display' size='1.5em' %}
            </svg>
            <span class="fs-4">Inventario Laboratorio ICB</span>
        </a>
    </header>

    <main>
        <div class="offcanvas-collapse" id="navbar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="{% url 'modulotipoequipo' %}" class="nav-link link-body-emphasis" aria-current="page">
                        <svg class="" width="16" height="16"></svg>
                        Tipo de Equipo
                    </a>
                </li>
                <li>
                    <a href="{% url 'tipo_de_producto' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Tipo de Producto
                    </a>
                </li>
                <li>
                    <a href="{% url 'equipo' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Equipos
                    </a>
                </li>
                <li>
                    <a href={% url 'producto' %} class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Inventario
                    </a>
                </li>
                <li>
                    <a href={% url 'orden_egreso'%} class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Módulo de Egreso
                    </a>
                </li>
                <li>
                    <a href="{% url 'orden_ingreso' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16">
                            <use xlink:href="#people-circle"></use>
                        </svg>
                        Módulo de Ingreso
                    </a>
                </li>
                <li>
                    <a href="{% url 'unidadesmedidas' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Unidad de Medida
                    </a>
                </li>
                <li>
                    <a href="{% url 'marcadeproducto' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16"></svg>
                        Marca de Producto
                    </a>
                </li>
                <li>
                    <a href="{% url 'moduloproveedores' %}" class="nav-link link-body-emphasis">
                        <svg class="" width="16" height="16">
                            <use xlink:href="#people-circle"></use>
                        </svg>
                        Proveedores
                    </a>
                </li>
            </ul>

            <div class="dropdown mt-auto nav-link">
                <a href="" class="d-flex align-items-center link-body-emphasis text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class="bi me-2 svg-icon" width="40" height="40" >
                        {% bs_icon 'person-circle' size='1.9em' %}
                    </svg>
                    
                    <strong>{{user.username | upper}}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
        <div class="container overflow-auto">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% bootstrap_javascript %}
    <script>
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
            document.getElementById('navbar').classList.toggle('open');
        });
    </script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>
