<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Productos</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AppInventario/interfaz_ingreso.css' %}">
</head>
<body class="d-flex justify-content-center align-items-center">

    <div class="container fondo-container text-center rounded-3">
        <p class="border-bottom border-4"></p>
        <h2 class="bg-secondary py-4 fw-bold">Nueva Orden de Ingreso</h2>
        <p class="mt-3 border-top border-4"></p>

        <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST" id="productoForm" class="form">
                    {% csrf_token %}
                    <fieldset class="form-group border border-light border-3 mt-4 rounded">
                        <legend class="px-2 mt-3 fw-bold">Datos de Orden</legend>
                        <p class="mt-3 border-top border-3"></p>
                        <div class="form-group container text-center">
                            {{orden_form.as_p}}
                        </div>
                    </fieldset>
    
                    <fieldset class="form-group border border-light border-3 mt-4 rounded">
                        <legend class="px-2 mt-3 fw-bold">Datos de Producto</legend>
                        <p class="mt-3 border-top border-3"></p>
                        <div class="form-group container text-center">
                            {{producto_form.as_p}}
                            <label for="cantidad">Cantidad</label>
                            <input type="number" name="cantidad" id="cantidad" class="form-control rounded-3">
                        </div>
                    </fieldset>

                    <button class="btn btn-success mt-4 fw-bold fs-4" type="submit">Guardar</button>
                </form>
            </div>
            <div class="col-md-2"></div>
            

        </div>

    </div>

    {% bootstrap_javascript %}
</body>
</html>