<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Productos</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <style>
        body {
            background-color: #222;
            color: #fff;
            font-family: Arial, sans-serif;
            padding-top: 4rem;
        }
        .card {
            background-color: #333;
            border: 1px solid #444;
            color: #fff;
        }
        .card-header {
            background-color: #555;
            border-bottom: 1px solid #444;
        }
        .card-body {
            padding: 2rem;
        }
        .container {
            padding: 2rem;
        }
        .fondo-container {
            background-color: #555;
            border-bottom: 1px solid #444;
            padding: 2rem;
        }
        .nuevo-bloque {
            border-style: solid;
            border-color: #555;
            border-width: 3px;
        }
        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
            width: 50%;
            padding: 0.5rem 1rem; /* Ajuste del padding para hacer el botón más pequeño */
            font-size: 0.875rem; /* Reducción del tamaño de la fuente */
        }
        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
        label {
            color: #ccc;
        }
        input[type="text"],
        input[type="password"] {
            background-color: #444;
            color: #fff;
            border-color: #555;
        }
    </style>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">

    <div class="container fondo-container text-center rounded-3">
        <h2>Nueva Orden de Ingreso</h2>
        <p class="border-top border-4"></p>

        <form method="POST">
            {% csrf_token %}

            {% if formset_producto %}
            {{ formset_producto.management_form }}
            <table class="table table-dark">

                <thead>
                    <tr>
                        <th scope="col">Tipo de Producto</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">N° serie</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody id="producto-form-list">
                {% for form_p in formset_producto %}
                <div class="producto-form">
                    <tr>
                        {% for field in formset_producto.empty_form %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                </div>
                {% endfor %}
                </tbody>

            </table>
            {% comment %} <div  class="hidden">{{ formset_producto.empty_form }}</div> {% endcomment %}

            <button id="add-more" type="button">Añadir otro producto</button>

            {% endif %}

            <button class="btn btn-success" type="submit">Guardar</button>
        </form>
        {% comment %} <div class="container">
            <form id="form-container" method="POST">
                {% csrf_token %}
                {{ producto_formset.management_form }}
                {% for form in producto_formset %}
                <div class="producto-form">
                    <table>
                        {{form.as_table}}
                    </table>
                </div>
                {% endfor %}
                <button id="add-form" type="button">Añadir otro producto</button>
                <button type="submit">Guardar Orden Ingreso</button>
            </form> 

            <hr>
            <hr>
            {{ producto_formset.non_form_errors.as_ul }}
                <table id="formset" class="form">
                {% for form in producto_formset.forms %}
                {% if forloop.first %}
                <thead><tr>
                    {% for field in form.visible_fields %}
                    <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr></thead>
                {% endif %}
                <tr class="{% cycle row1 row2 %}">
                {% for field in form.visible_fields %}
                    <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
                </table>
            <hr>
            <hr>

            <form id="form-container" method="POST">
                {% csrf_token %}
                {{ producto_formset.management_form }}
                <table>
                    <thead>
                        <tr>
                            <td>Tipo de Producto</td>
                            <td>Modelo</td>
                            <td>Marca</td>
                            <td>N° serie</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for form in producto_formset %}
                        <div class="producto-form">
                            <tr>
                                {% for field in form %}
                                <td>{{field}}</td>
                                {% endfor %}
                                <td><button id="delete-form" type="button" class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </div>
                    {% endfor %}
                    <button id="marker" type="button" style="display: none;" disabled></button>
                    </tbody>
                </table>
                <button id="add-form" type="button">Añadir otro producto</button>
                <button type="submit">Guardar Orden Ingreso</button>
            </form>

            {% comment %} <form method="POST" id="productoForm">
                {% csrf_token %}
                <fieldset class="form-group border border-success border-3">
                    <legend class="w-auto px-2">Datos de Orden</legend>
                    <div class="form-group container text-start">
                        {{form_orden.as_p}}
                    </div>
                </fieldset>
                <br>
                <div class="container border border-success border-3 text-start">
                    {{ formset_producto.management_form }}
                    <div id="formsetContainer">
                        {% for form in formset_producto %}
                            <div class="form-row">
                                {{form.as_p}}
                                <button type="button" class="remove-form">Eliminar</button>
                            </div>
                    {% endfor %}


                        <table class="table bg-light rounded-2">
                            {% for form in formset_producto %}
                                <tr>
                                    {{form.as_p}}
                                </tr>
                            {% endfor %}
    
    
                             <tr>
                                {% for field in form_producto %}
                                <th>{{field.label}}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for field in form_producto %}
                                <th>{{field}}</th>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <button type="button" id="addForm">Añadir Producto</button>
                    <button type="submit">Guardar</button>
                </div>
            </form> 
        </div> {% endcomment %}
    </div>

    {% bootstrap_javascript %}

    <script>
        const addMoreBtn = document.getElementById('add-more');
        addMoreBtn.addEventListener('click', add_new_form);

        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS');

        

        function add_new_form(event) {
            if (event) {
                event.preventDefault();
            }

            const re = new RegExp('__prefix__', 'g');

            if (totalNewForms.value == 1) {
                var form1 = document.getElementById('producto-form-list');
                form1.innerHTML = form1.innerHTML.replace(re, 0);
            }
            const formTarget = document.getElementById('producto-form-list');
            
            const currentProductForms = document.getElementsByClassName('producto-form');

            var newFormHTML = `
            <div id="form-${currentProductForms.length}" class="producto-form">
                <tr>
                    {% for field in formset_producto.empty_form %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            </div>`;
            newFormHTML = newFormHTML.replace(re, currentProductForms.length);
            totalNewForms.setAttribute('value', currentProductForms.length+1);
            formTarget.innerHTML = formTarget.innerHTML + newFormHTML;

        }
    </script>




    {% comment %} <script>
        let ProductoForm = document.querySelectorAll(".producto-form");
        let container = document.querySelector("#form-container");
        let addButton = document.querySelector("#add-form");
        let markerButton = document.querySelector("#marker");
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
        let formNum = ProductoForm.length-1;

        addButton.addEventListener('click', addForm);

        function addForm(e) {
            e.preventDefault();
        
            let newForm = ProductoForm[0].cloneNode(true) //Clone the bird form
            let formRegex = RegExp(`form-(\\d){1}-`,'g') //Regex to find all instances of the form number
        
            formNum++ //Increment the form number
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
            container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms
        
            totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
        }
    </script> {% endcomment %}
    {% comment %} <script>
        $(document).ready(function() {
            var formCount = {{ formset.total_form_count }};
            var formsetContainer = $('#formsetContainer');
            var totalForms = $('#id_form-TOTAL_FORMS');

            $('#addForm').click(function() {
                var newForm = formsetContainer.children('.form-row:first').clone(false);
                newForm.find(':input').each(function() {
                    var name = $(this).attr('name').replace(/-\d+-/, '-' + formCount + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                });
                newForm.find('.remove-form').click(function() {
                    $(this).parent().remove();
                    updateTotalForms();
                });
                formsetContainer.append(newForm);
                formCount++;
                updateTotalForms();
            });

            function updateTotalForms() {
                var formRows = formsetContainer.children('.form-row').length;
                totalForms.val(formRows);
            }

            $('.remove-form').click(function() {
                $(this).parent().remove();
                updateTotalForms();
            });
        });
    </script> {% endcomment %}
</body>
</html>


{% comment %} 
<table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Tipo de Producto</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Marca</th>
                            <th scope="col">N° serie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in producto_formset %}
                        <tr>
                            <div class="producto-form">
                                {% for field in form %}
                                <td>
                                    {{ field }}
                                </td>
                                {% endfor %}
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endcomment %}