{% extends "./base.html" %}
{% block content %}
<div class="row bg-secondary">
    <p class="my-3 px-5 fs-4 fw-bold">Marcas de Productos</p>
</div>
<div class="row mt-3 mx-3">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalmarca">
            Agregar
        </button>
    </div>
</div>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <form method="POST">
                        {% csrf_token %}
                    <tr>
                        <input type="hidden" name="id" value="{{ marca.id }}">
                        <input type="hidden" name="editing" value="{{ editing}}">
                        <td>{{ marca.nombre }}</td>
                        <td>
                            <button type="button" name="Editar" class="btn btn-warning text-white"
                                data-bs-toggle="modal" data-bs-target="#modalmarca">Editar</button>
                        </td>
                        <td>
                            <button type="submit" name="Eliminar" class="btn btn-danger text-white"
                                >Eliminar</button>
                        </td>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="modal fade" id="modalmarca" tabindex="-1" aria-labelledby="modalUnidadLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUnidadLabel">Agregar Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="POST" id="formUnidad">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombreUnidad" class="form-label">Marca</label>
                            {% if editing %}
                            <input type="text" name="nombre" class="form-control" id="nombremarca" value='{{id}}'>
                            {% else %}
                            <input type="text" name="nombre" class="form-control" id="nombremarca"
                                placeholder="Ingresa el nombre">
                            {% endif %}
                        </div>
                        <div class="text-end">
                            <button type="submit" name="Agregar" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}