{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="row bg-secondary">
    <p class="my-3 px-5 fs-4 fw-bold">Marcas de Productos</p>
</div>
<div class="row mt-3 mx-3">
    <div class="col-12 text-end">
        <button type="button" class="btn btn-primary" id="btnformagregar">
            Agregar
        </button>
    </div>
</div>

{% if editing %}
<div class="activar_form" id="bloqueformagregar" style="display:block">
{% else %}
<div class="" id="bloqueformagregar" style="display:none">
{% endif %}


<div>
    <div class="container border border-secondary rounded p-3 mt-3">
        <form method="POST" id="formUnidad">
            {% csrf_token %}
            {% if editing %}
            <input name="id" value="{{id}}" type="hidden">
            <input name="editing" value="{{editing}}" type="hidden">
            {% endif %}
            <div class="mb-3">
                {{form.as_p}}
            </div>
            <div class="text-end">
                <button type="submit" name="Agregar" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" id="botoncerrarform">Cerrar</button>
            </div>
        </form>
    </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <form method="POST">
                        {% csrf_token %}
                    <tr>
                        <input id="inputidmarca" type="hidden" name="id" value="{{ marca.id }}">
                        <input type="hidden" name="editing" value="{{ editing}}">
                        <input type="hidden" id="inputnombremarca" value="{{marca.nombre}}">
                        <td>{{ marca.nombre }}</td>
                        <td>
                            <button type="submit" name="Editar" class="btn btn-warning" id="botoneditarmarca">Editar</button>
                        </td>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<script>
    var form_agregar = document.getElementById("bloqueformagregar");
    var btn_agregar = document.getElementById("btnformagregar");
    var btn_editar = document.getElementById("botoneditarmarca");
    var btn_cerrar = document.getElementById("botoncerrarform");

    btn_agregar.addEventListener("click", toggle_form_agregar);
    btn_editar.addEventListener("click", toggle_form_agregar);
    btn_cerrar.addEventListener("click", toggle_form_agregar);

    function toggle_form_agregar() {
        form_agregar.classList.toggle("activar_form");

        if (form_agregar.classList.contains("activar_form")){
            form_agregar.style.display = "block";
            form_agregar.scrollIntoView({behavior:'smooth'});
        } else {
            form_agregar.style.display = "none";
        }
    }
</script>
{% endblock scripts %}