{% extends './base.html' %}

{% block content %}
<div class="row bg-secondary">
    <p class="my-3 px-5 fs-4 fw-bold">Tipos de Equipo</p>
</div>

<div class="row mt-3 mx-3">
    <div class="col-12 text-end">
        <button class="btn btn-primary" name="editar" id="btnformagregar">Agregar</button>
    </div>
</div>
{% if editing %}
<div class="activar_form" id="bloqueformagregar" style="display:block;">
{% else %}
<div class="" id="bloqueformagregar" style="display:none;">
{% endif %}
    <div class="container border border-secondary rounded p-3 mt-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if editing %}
            <input type="hidden" name="editing" value="{{ editing }}">
            <input type="hidden" name="id" value="{{ id }}">
            {% endif %}
            <div class="text-end mt-3">
                <button id="botoncerrarform" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button name="agregar" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipos de Producto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipoequipo in tipos_de_equipo %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{tipoequipo.id}}">
                        <tr>
                            <td>{{ tipoequipo.nombre }}</td>
                            <td>
                                <ul class="list-group" style="list-style: none;">
                                    {% for item in tipoequipo.tipo_producto.all %}
                                    <li class="">{{item}}</li>
                                    {% endfor %}

                                </ul>
                            </td>
                            <td>
                                {% comment %} <a href="" class="text-white btn btn-secondary btn-sm disabled-link">Editar</a> {% endcomment %}
                                <button class="btn btn-warning" id="editarregistro_te" name="editar" type="submit">Editar</button>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    var form_agregar = document.getElementById("bloqueformagregar");
    var btn_agregar = document.getElementById("btnformagregar");
    var btn_editar = document.getElementById("editarregistro_te");
    var btn_cerrar = document.getElementById("botoncerrarform");

    btn_agregar.addEventListener("click", toggle_form_agregar);
    btn_editar.addEventListener("click", toggle_form_agregar);
    btn_cerrar.addEventListener("click", toggle_form_agregar);

    function toggle_form_agregar() {
        form_agregar.classList.toggle("activar_form");

        if (form_agregar.classList.contains("activar_form")){
            form_agregar.style.display = "block";
            form_agregar.scrollIntoView({behavior:'smooth'});
        } else {
            form_agregar.style.display = "none";
        }
    }
</script>
{% endblock scripts %}