{% extends './base.html' %}
{% block content %}

<div class="row pag-titulo">
    <p class="my-3 px-5 fs-4 fw-bold">Órdenes de Ingreso</p>
</div>

<div class="row mt-3 mx-3">
    <div class="col-12 text-end">
        <button class="btn btn-primary" id ="btn_nueva_orden" name="agregar">Agregar</button>
    </div>
</div>

<!-- Tabla de visualización -->
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th class="fs-5" scope="col">Código</th>
                            <th class="fs-5" scope="col">Proveedor</th>
                            <th class="fs-5" scope="col">Fecha</th>
                            <th class="fs-5" scope="col">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for orden in ordenes %}
                        <form method="post">
                            {% csrf_token %}
                            <tr>
                                <td>{{orden.id}}</td>
                                <td>{{orden.proveedor}}</td>
                                <td>{{orden.fecha}}</td>
                                <td>
                                    <ul class="list-group" style="list-style: none;">
                                        {% for item in detalles %}
                                        {% if item.orden.id == orden.id %}
                                        <li class="">
                                            <strong>{{item.cantidad}} x {{item.producto.tipo_producto}}:</strong>
                                            {{item.producto.marca}} {{item.producto}}
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </form>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script>
    var btn_nueva_orden = document.getElementById("btn_nueva_orden");

    btn_nueva_orden.addEventListener("click", abrir_ventana_ingreso);

    function abrir_ventana_ingreso() {
        open("{% url 'interfaz_ingreso' %}", "_self")
    }
</script>
{% endblock scripts %}