{% extends "./base.html" %}
{% block content %}


<div class="row bg-secondary">
    <p class="my-3 px-5 fs-4 fw-bold">Tipo de Producto</p>
</div>

<div class="row mt-3 mx-3">
    <div class="col-12 text-end">
        <button class="btn btn-primary" name="agregar" id="btnformagregar">Agregar</button>
    </div>
</div>

{% if editing %}
<div class="activar_form" id="bloqueformagregar" style="display:block">
{% else %}
<div class="" id="bloqueformagregar" style="display:none">
{% endif %}

<div class="container border border-secondary rounded p-3 mt-3">
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.as_p }}
            {% if editing %}
            <input type="hidden" name="editing" value="{{editing}}">
            <input type="hidden" name="id" value="{{id}}">
            {% endif %}
        </div>
        <div class="mt-3 text-end">
            <button type="button" class="btn btn-secondary" id="botoncerrarform">Cerrar</button>
            <button name="agregar" type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
</div>

{% if deleting %}
<button type="button" id="botonmodaleliminar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display:none;">modal</button>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center mt-3 mb-4 fw-bold">Se eliminará el registro seleccionado.</h2>
                <h5 class="text-center">Esta acción no se puede revertir.</h5>
                <h2 class="text-danger text-center mb-3 fw-bold">¿Estás seguro?</h2>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{id}}">
                    <input type="hidden" name="deleting" value="{{deleting}}">
                    <button type="submit" name="cancelar_delete" value="si" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" name="confirmar_delete" value="si" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endif %}

{% if error_eliminar %}
<button type="button" id="erroreliminar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalerroreliminar" style="display:none;">modal</button>

<div class="modal fade" id="modalerroreliminar" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="text-center mt-3 mb-4 fw-bold">No se puede eliminar el registro</h2>
                <p class="text-center">Hay productos que dependen de este registro. Para eliminar esta marca, primero elimina todos los productos asociados a ella y vuelve a intentar.</p>
            </div>
            <div class="modal-footer">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="cerrarmodalerror" value="cerrarmodalerror">
                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
               </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Unidad de medida</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {%for producto in tipo_de_producto%}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{producto.id}}">
                        <tr>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.unidad_medida}}</td>
                            <td> <button class="btn btn-warning text-white" type="submit" name="Editar" id="botoneditarmarca">Editar</button>
                                <button type="submit" class="btn btn-danger text-white" name="eliminar"
                                data-bs-toggle="modal" data-bs-target="#eliminarequipo">Eliminar</button></td>
                        </tr>
                    </form>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var form_agregar = document.getElementById("bloqueformagregar");
    var btn_agregar = document.getElementById("btnformagregar");
    var btn_editar = document.getElementById("botoneditarmarca");
    var btn_cerrar = document.getElementById("botoncerrarform");

    btn_agregar.addEventListener("click", toggle_form_agregar);
    btn_editar.addEventListener("click", toggle_form_agregar);
    btn_cerrar.addEventListener("click", toggle_form_agregar);

    function toggle_form_agregar() {
        form_agregar.classList.toggle("activar_form");

        if (form_agregar.classList.contains("activar_form")){
            form_agregar.style.display = "block";
            form_agregar.scrollIntoView({behavior:'smooth'});
        } else {
            form_agregar.style.display = "none";
        }
    }
</script>
<script>
    var boton_eliminar = document.getElementById("botonmodaleliminar");
    boton_eliminar.click();
</script>
<script>
    var boton_error_eliminar = document.getElementById("erroreliminar");
    boton_error_eliminar.click();
</script>
{% endblock scripts %}