{% extends "./base.html" %}
{% block content %}
<div class="row bg-secondary">
    <p class="my-3 px-5 fs-4 fw-bold">Unidades de medida</p>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Símbolo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unidad in unidades %}
                    <tr>
                        <td>{{ unidad.nombre }}</td>
                        <td>{{ unidad.simbolo }}</td>
                        <td>
                            <a href="" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center mt-3">
                <a href="" class="btn btn-success">Agregar Nueva Unidad</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}